
.panel-title{
	font-weight:bold;
	font-size:1.07em;
}

.memberGroup input, .memberGroup textarea {
	font-size:.9em;
}

.card-name-field input {
	font-size:.95em;
	font-weight:bold;
}

.Card-sentences textarea {
	font-size:1.05em;
}


